body{
    margin: 0;
    font-family:sans-serif;
    
}

.topnav{
    overflow: hidden;
    background-color: #000000;
    box-shadow: 5px 5px #ffffff;
    border:#000000;
    border-width: 10px;
    color: #ffffff;
}

.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
  }
  
  .topnav a.active {
    background-color: #000000;
    color: white;
  }

  .topnav-right{
    float:right;
  }

  img{
    float: right;
    width:470px;
    height:330px;
    margin-right:35px;
    border-radius: 15px;
  }

  h1{
    color: #ffffff;
    margin-left: 10px;
  }
  
  p{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .bx {
    width: 1020px;
    padding: 10px;
    border: 5px;
    margin: 0;
    font-size: 21px;
    color:#000000;
    background-color: #f4f4f4;
    border-radius: 15px;
    margin-left: 15px;
    box-shadow: 2px 8px 15px 2px rgba(0, 24, 64, 0.12);
  }

  input{  
    background-color: #000000;
    color: aliceblue;
    margin-left: 25px;
    margin-top: 20px;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 5px 5px #888888;
  }

  table, td, th {
    border: 2px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 20%;
    margin-left:650px;
    text-align: center;
  }
  
  td {
    height: 50px;
    vertical-align: bottom;
  }

  