body{
    margin: 0;
    font-family:sans-serif;
}

.topnav{
    overflow: hidden;
    background-color: #000000;
    box-shadow: 5px 5px #ffffff;
    border:#ffffff;
    border-width: 10px;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
  }
  
  .topnav a.active {
    background-color: #000000;
    color: white;
  }

  .topnav-right{
    float:right;
  }

table {
    font-family: arial, sans-serif;
    width: 100%;
    margin-left: 35px;
    align-items: center;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  